layer-rule {
    match namespace="waybar"
    popups {
        background-effect {
            blur true
            xray false
        }
    }
    background-effect {
        blur true
        xray true
    }
}
layer-rule {
    match namespace="notifications"
    match namespace="wofi"
    background-effect {
        blur true
        xray false
    }
}
// Force primary desktop applications (matched by Wayland app-id) to open maximized
window-rule {
    match app-id="^firefox$"
    match app-id="^spotify$"
    match app-id="^vesktop$"
    match app-id="^org.gnome.Nautilus$"
    match app-id="^org.prismlauncher.PrismLauncher$"
    open-maximized true
}
window-rule {
    match app-id="^mpv$"
    open-floating true
}
